﻿<html>
<head>
<title>Ankete OO: Admin sučelje</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<?php
include '../pages/'.$page.'.phtml';
?>
</body>
</html>
