﻿$ankete = $this->getAll();
<table border="1" cellpadding="4">
<?php foreach($ankete as $a)  { ?>
	<tr>
	<td><?php $a->getPitanje(); ?></td>
	<td>
	<?php
	echo Utils::linkTo($_SERVER['SCRIPT_NAME'], 
		array('a' => 'editform', 'id' => $a->getId()), 'EDIT');
	?>
	</td>
	<td>
	<?php
	echo Utils::linkTo($_SERVER['SCRIPT_NAME'], 
		array('a' => 'confirm', 'id' => $a->getId()), 'DELETE');
	?>
	</td>
	</tr>
<?php } ?>
</table>